@charset 'UTF-8';

.from__edit--contact {
	&.form-group {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		position: relative;
		height: 34px;
		margin-bottom: 5px;

		.form-label {
			margin: 0;
			position: absolute;
			top: 0;
			text-align: center;
			cursor: pointer;
		}
		.form-control {
			height: 34px;
			border: none;
			border-bottom: 1px solid $pr-color;
			-webkit-transition: height 300ms ease;
			-o-transition: height 300ms ease;
			transition: height 300ms ease;

			&:not(:focus) {
				height: 0;
				margin: 0;
				padding: 0;
				border: none;
				opacity: 0;
				z-index: -1;

				~ .btn__group {
					opacity: 0;
					z-index: -1;
				}
			}
		}
		.form-control:focus + .form-label {
			display: none;
		}
	}
	.btn__group {
		opacity: 1;
		z-index: 100;
		-webkit-transition: z-index 300ms;
		-o-transition: z-index 300ms;
		transition: z-index 300ms;
		-webkit-transition-delay: 100ms;
		-o-transition-delay: 100ms;
		transition-delay: 100ms;
	}
}
